

.shopping-cart{
    
    width: 264px;
    height: 100%;

    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1C2B35;
}

.shopping-cart p, h4, ul{

    padding: 15px 43px 25px 45px;
}

.product-name{
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
    color: #0E161A;
}

.shopping-cart ul li img{
    height: 100px;
    width: 100px;
    margin: 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin: 57px 0px 0px 0px;
}

.buttons button{
    margin: 16px;
    padding: 14px 82px 13px 72px;
    color: #FFF;

    /* Body 1 */
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
    border-radius: 4px;
}

.clear-btn{
    background: #FF3030;
}
.review-btn{
    background: #F90;
}